/* TOP AREA */
.topmost p{

    position: absolute;
    left: 0%;
    right: 0%;
    top: -12px;
    bottom: 0%;
    width: 1440px;
    height: 20px;
    left: 0px;
    top: 0px;
    border-radius: 0px;    
    padding: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #3772FF;
    text-align:center;
    font-size: 9pt;
    color:rgb(255, 255, 255);
}

/*LEFT AREA*/
#leftmost{
   height: 760px;
   width: 250px;
   left: 0px;
   top: 36px;
   border-radius: 0px;
   position: absolute;
   bottom: 2.37%;
   background: #000000;
} 
.leftcontent1 {
  margin-left: 20px;
  margin-top: 25px;
}

.leftcontent1 strong{

  position: absolute;
  left: 26%;
  right: -2.57%;
  top: 3.5%;
  bottom: -1.01%;
  height: 30px;
  width: 70px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 23.5618px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: rgb(255, 255, 255);
}

.leftcontent1 img{
  border-radius: 50%;
  width: 35px;  
}

.goback{
  position: absolute;
  border-radius: 1%;
  left: 72%;
  right: 8.33%;
  top: 3%;
  bottom: 81.25%;
}

/*HOME AREA*/
.leftcontent2{
  width: 250px;
  height: 600px;
}

/*   HOVER FOR THESE SECTIONS*/
.leftcontent2  strong:hover{
  border-radius: 12px;
  background-color: #44474d;
  width:125px;
  transition:all .15s ease ;
  height: 30px;
  padding: 3px;
  padding-left: 25px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-left: 10px;
  mix-blend-mode: normal;
}

/*HOME AREA*/
.home strong{
position: absolute;
left: 25%;
right: 50.97%;
top: 12.63%;
bottom: 84.35%;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #808191;
width:125px;
height: 40px;
}

.home img{
  color:rgb(255, 255, 255);
  width:20px;
  position: absolute;
  left: 10%;
  right: 50.97%;
  top: 12.63%;
  bottom: 84.35%; 
  
}

/*SECTION 1 AREA*/
.section1 img{
  color:rgb(255, 255, 255);
  width:25px;
  position: absolute;
  left: 10%;
  right: 50.97%;
  top: 19%;
  bottom: 84.35%; 
  
}

.section1 strong{
position: absolute;
left: 25%;
right: 50.97%;
top: 19%;
bottom: 84.35%;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #808191;
width:125px;
height:40px;
}

/*SECTION 2 AREA*/

.section2 img{
  color:rgb(255, 255, 255);
  width:25px;
  position: absolute;
  left: 10%;
  right: 50.97%;
  top: 25.45%;
  bottom: 84.35%; 
  
}

.section2 strong{
position: absolute;
left: 25%;
right: 50.97%;
top: 25.45%;
bottom: 84.35%;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #808191;
width:125px;
height:40px;
}


/*SECTION 3 AREA*/

.section3 img{
  color:rgb(255, 255, 255);
  width:25px;
  position: absolute;
  left: 10%;
  right: 50.97%;
  top: 32%;
  bottom: 84.35%; 
  
}

.section3 strong{
position: absolute;
left: 25%;
right: 50.97%;
top: 32%;
bottom: 84.35%;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #808191;
width:125px;
height:40px;
}


/*SECTION 4 AREA*/


.section4 img{
  color:rgb(255, 255, 255);
  width:25px;
  position: absolute;
  left: 10%;
  right: 50.97%;
  top: 38.45%;
  bottom: 84.35%; 
  
}

.section4 strong{
position: absolute;
left: 25%;
right: 50.97%;
top: 38.45%;
bottom: 84.35%;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #808191;
width:125px;
height:40px;
}


/*SECTION 5 AREA*/


.section5 img{
  color:rgb(255, 255, 255);
  width:25px;
  position: absolute;
  left: 10%;
  right: 50.97%;
  top: 45%;
  bottom: 84.35%; 
  
}

.section5 strong{
position: absolute;
left: 25%;
right: 50.97%;
top: 45%;
bottom: 84.35%;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #808191;
width:125px;
height:40px;
}


/*SECTION 6 AREA*/

.section6 img{
  color:rgb(255, 255, 255);
  width:25px;
  position: absolute;
  left: 10%;
  right: 50.97%;
  top: 52%;
  bottom: 84.35%; 
  
}

.section6 strong{
position: absolute;
left: 25%;
right: 50.97%;
top: 52%;
bottom: 84.35%;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #808191;
width:125px;
height:40px;
}


/*SECTION 7 AREA*/

.section7 img{
  color:rgb(255, 255, 255);
  width:25px;
  position: absolute;
  left: 10%;
  right: 50.97%;
  top: 58%;
  bottom: 84.35%; 
  
}

.section7 strong{
position: absolute;
left: 25%;
right: 50.97%;
top: 58%;
bottom: 84.35%;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #808191;
width:125px;
height:40px;
}


/*SECTION 8 AREA*/

.section8 img{
  color:rgb(255, 255, 255);
  width:25px;
  position: absolute;
  left: 10%;
  right: 50.97%;
  top: 64.15%;
  bottom: 84.35%; 
  
}

.section8 strong{
position: absolute;
left: 25%;
right: 50.97%;
top: 64.15%;
bottom: 84.35%;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #808191;
width:125px;
height:40px;
}


/*SECTION 9 AREA*/

.section9 img{
  color:rgb(255, 255, 255);
  width:25px;
  position: absolute;
  left: 10%;
  right: 50.97%;
  top: 70.5%;
  bottom: 84.35%; 
}

.section9 strong{
position: absolute;
left: 25%;
right: 50.97%;
top: 70.5%;
bottom: 84.35%;
font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
color: #808191;
width:125px;
height:40px;
}

.leftcontent2  strong:hover{
  border-radius: 12px;
  background-color: #44474d;
  width:135px;
  height: 32px;
  padding: 2px;
  padding-left: 15px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-left: 10px;
  mix-blend-mode: normal;
}

/* LEFT CONTENT 3*/
.leftcontent3{
  width: 250px;
  height: 90px;
}

.A1{
  position: absolute;
  margin-left: 10px;
  width: 87px;
  height: 32px;
  background: #353945;
  border-radius: 10px;
}
.A1 img{
  
  position: absolute;
  width: 19px;
  height: 17.05px;
  left: 15px;
  top: 6px;
  border-radius: 50%;

}

.A1 strong{
  position: absolute;
  left: 25%;
  right: 0%;
  top: 9px;
  bottom: 0%;
  height: 20px;
  padding: 2px;
  font-family: sans-serif;
  text-align:center;
  font-size: 9pt;
  color:rgb(255, 255, 255);  
}

.A2{
  position: absolute;
  left: 38.54%;
  right: 84.86%;
  top: 87.8%;
  bottom: 8.46%;
  margin-left: 8px;
  width: 87px;
  height: 32px;
  background: #A3E3FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.A2 strong{
  position: absolute;
  left: 20.54%;
  right: 0%;
  top: 10px;
  bottom: 0%;
  font-size: 9pt;
  font-family: sans-serif;
  border-radius: 10px;
  color: rgb(7, 77, 168);
}
 .B1{
  position: absolute;
  left: 12px;
  top: 715px;
  width:22px;
  height: 23px;
  border-radius: 50%;
 }
 
 
.b2b3class{
  position: absolute;
  width: 67.19px;
  height: 26px;
  left: 51px;
  top: 715px;
  background-color: #353945;
  mix-blend-mode: normal;
  border-radius: 12.9314px;
}

 .B2{
  position: absolute;
  width:20px;
  height: 21px;
  left: 13.92%;
  right: 64.55%;
  top: 3px;
  bottom: 22.6%;
  mix-blend-mode: normal;
 }

 .B3{
  position:absolute;
  width: 18.23px;
  height: 18.23px;
  left: 40px;
  top: 3px;
  background: #3772FF;
  box-shadow: 0px 3.23284px 6.46569px rgba(0, 0, 0, 0.1);
  mix-blend-mode: normal;
  border-radius: 50%;

 }

.vertical-line1{
  position: absolute;
  height: 760px;
  width: 2.5px;
  border-radius: 0px;
  left: 239px;
  top: 36px;
  bottom: -0.03%;
  background: #242731;
}

/* MIDDLE AREA*/
.middle-area{
  height: 760px;
  width: 700px;
  left: 246px;
  top: 36px;
  border-radius: 0px;
  position: absolute;
  bottom: 2.37%;
  background: #000000;  
}
.vertical-line2{
  position: absolute;
  height: 760px;
  width: 2.5px;
  border-radius: 0px;
  left: 942px;
  right: 82.43%;
  top: 36px;
  bottom: -0.03%;
  background: #242731;
}
/* MIDDLE 1 */
.middle-top1 strong{
  position: absolute;
  width: 67px;
  height: 18px;
  left: 51px;
  top: 25px;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 9px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 7px 0px;
  border-bottom: 3px solid #3772FF;
}

/* MIDDLE 2 */
.middle-top2{
  position: absolute;
  height: 39.269187927246094px;
  width: 196.690673828125px;
  left: 465px;
  top: 20px;
  border-radius: 12px;
  background: #191B20;
  mix-blend-mode: normal;

}

.middle-top2 img{
  position: absolute;
  border-radius: 0px;
  width: 19px;
  height: 22px;
  left: 10%;
  right: 83.66%;
  top: 22.85%;
  bottom: 30.12%;
}
.middle-top2 strong{
  position: absolute;
  height: 34.3px;
  width: 79.5px;
  left: 22%;
  right: 39.88%;
  top: 8.25%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  color:rgb(255, 255, 255);
}
 
.inside-midtop2{
  position: absolute;
  height: 18px;
  width: 45px;
  left: 70.55%;
  right: 5.59%;
  top: 19%;
  bottom: 17.86%;
  font-size: 9pt;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  background: #A3E3FF;
  border-radius: 5px;
  padding: 1px;
  padding-top: 4px;
  color: #1c53d3;
}

/* MIDDLE 3 */
 .middle3{
  position: absolute;
  left: 34px;
  right: 1.48%;
  top: 9.93%;
  height: 96px;
  width: 621px;
  bottom: 15.31%;
  font-family: sans-serif;
  font-size: 14px;
  background: #ABE8FF;
  border-radius: 15px;
  
 }
 .middle3 p{
  position: absolute;
  width: 530px;
  height: 26px;
  left: 16px;
  top: 3px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 34px;
  color: #2B2557;

 }
 .middle3 strong{
  position: absolute;
  left: 3%;
  right: 0%;
  top: 50%;
  bottom: 0%;
  height: 18px;
  width: 77px;
  padding: 5px;
  text-align: center;
  font-family: sans-serif;
  background: #FFFFFF;
  color: #2B2557;
  border-radius: 6px;
 }
 .middle3 img{
  position: absolute;
  width: 91px;
  height: 69px;
  left: 518px;
  top: 16px;
  border-radius: 10px;
}

.middle3 .crosssign{
  position: absolute;
  left: 97.56%;
  right: 4%;
  top: -9%;
  bottom: 78.63%;
  background: #FFFFFF;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  font-size: 13px;
}

.crosssign strong{
  position: absolute;
  height: 7px;
  width: 7px;
  left: 4.5px;
  top: 0.5px;
  border-radius: 50%; 
}

/* MIDDLE 4 */
.middle4{
  position: absolute;
  height: 176px;
  width: 626px;
  left: 5.03%;
  top: 24%;
  bottom: -1109.36%;
  background: #191B20;
  border-radius: 24px;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}
.middle4 h4{
  position: absolute;
  width: 120px;
  border-radius: 0px;
  height: 24px;
  left: 3.71%;
  right: 48.82%;
  top: 0%;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}
.middle4 h2{
  position: absolute;
  width: 210px;
  border-radius: 0px;
  height: 165px;
  left: 3.71%;
  right: 33.93%;
  top: 25%;
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 48px;
  letter-spacing: 0px;
}
.mid4-1{
  position: absolute;
  width: 84.66px;
  height: 17.08px;
  left: 25.04px;
  top: 118.15px;
  text-align: center;
  padding: 5px;
  font-family: sans-serif;
  font-size: 11pt;
  background: #353945;
  border-radius: 11px;
}
.mid4-2{
  position: absolute;
  width: 66.66px;
  height: 17.08px;
  left: 129.04px;
  top: 118.15px;
  text-align: center;
  padding: 5px;
  font-family: sans-serif;
  font-size: 11pt;
  background: #353945;
  border-radius: 11px;
}

.mid4-3{
  position: absolute;
  width: 78.66px;
  height: 17.08px;
  left: 217.04px;
  top: 118.15px;
  text-align: center;
  padding: 5px;
  font-family: sans-serif;
  font-size: 11pt;
  background: #353945;
  border-radius: 11px;
}

.mid4-customlink{
  position: absolute;
  height: 36px;
  width: 145px;
  left: 431px;
  top: 67px;
  border-radius: 10px;
  background: #3772FF;
}

.mid4-customlink img{
  position: absolute;
  left: 5.54%;
  right: 75.64%;
  top: 12.26%;
  width: 28px;
  bottom: 28.26%;
  mix-blend-mode: normal;
}

.mid4-customlink strong{
  position: absolute;
  left: 25.92%;
  right: 13.55%;
  top: 17.4%;
  bottom: 17.4%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11pt;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.mid4-customlink strong:hover{
  color: #dedee2
}

/* MIDDLE 5 */
.middle5{
  position: absolute;
  height: 176px;
  width: 634px;
  left: 5.03%;
  top: 50%;
  font-family: sans-serif;
  
}

.box-1{
  position: absolute;
  height: 178px;
  width: 302px;
  left: 4.4px;
  top: -6px;
  border-radius: 16px;
  background: #191B20;
}

.box-1 img{
  position: absolute;
  left: 5.1%;
  right: 77.22%;
  top: 12.88%;
  bottom: 43.13%;
  width: 30.14px;
  border-radius: 50%;
}
.box-1 h3{
  position: absolute;
  width: 247.41px;
  height: 24px;
  left: 60.4px;
  top: 5.98px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.box-1content {
  position: absolute;
  height: 56px;
  width: 270.5px;
  left: 13px;
  right: 0px;
  top: 104px;
  background: #242731;
  mix-blend-mode: normal;
  border-radius: 8px;
  
}

.box-1 h4{
  position: absolute;
  width: 215.49px;
  height: 16px;
  left: 20.92px;
  top: 49.91px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #808191;
}

.box-1content strong {
  position: absolute;
  width: 218px;
  height: 24px;
  left: 13px;
  top: 15px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
}
.box-1content strong:hover{
  color:#9f93fe
}

.box-1content img{
  position: absolute;
  width: 28px;
  height: 28px;
  left: 232px;
  right: 24px;
  top: 10.5px;
  border-radius: 0px;
}

.box-2{
  position: absolute;
  height: 178px;
  width: 302px;
  left: 320px;
  top: 0px;
  border-radius: 16px;
  background: #191B20;
}

/* MIDDLE 6 */

.tab-1 strong{
  
  position: absolute;
  width: 110px;
  height: 20px;
  left: 48.51px;
  top: 582.87px;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 7px;
  letter-spacing: 1px;
  color: #FFFFFF;
  border-bottom: 3px solid #3772FF;
}

.tab-2 strong{
  position: absolute;
  width: 108px;
  height: 18px;
  left: 164px;
  top: 578px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #808191;  
}
 
.tab-2 strong:hover{
  position:absolute;
  width: 116px;
  height: 20px;
  left: 164px;
  top: 580px;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 7px;
  letter-spacing: 1px;
  transition:all .10s ease ;
  color: #FFFFFF;
  border-bottom: 3px solid #3772FF;
}

/*MIDDLE 7*/
.row-1{
  position: absolute;
  height: 40px;
  left: 17.12px;
  right: 444.97px;
  bottom: 50.35px;
  width: 662px;
  top: 633.6px;
  border-radius: 8px;
  background: #191B20;
  mix-blend-mode: normal;
}
.a1{  
  position: absolute;
  width: 37.89px;
  height: 24px;
  left: 55.08px;
  top: 7px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #808191;
}

.a2{  
  position: absolute;
  width: 37.89px;
  height: 24px;
  left: 187.08px;
  top: 7px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #808191;
}

.a3{  
  position: absolute;
  width: 119.89px;
  height: 24px;
  left: 329.08px;
  top: 7px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #808191;
}
.a4{  
  position: absolute;
  width: 141.89px;
  height: 24px;
  left: 505.08px;
  top: 7px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #808191;
}
.row-2{
  position: absolute;
  width: 660.52px;
  height: 62.29px;
  left: 17.51px;
  top: 680.93px;
  background: rgba(36, 39, 49, 0.4);
  border-radius: 5px;
}
.b1 img{
  position: absolute;
  height: 27px;
  width: 27px;
  left: 1.61%;
  right: 76.48%;
  top: 22.51%;
  bottom: 5.14%;
  border-radius: 50%;
}

.b1 strong{
  position: absolute;
  width: 47.78px;
  height: 24px;
  left: 48.04px;
  top: 9.2px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
.b1 h4{
  position: absolute;
  width: 20.33px;
  height: 16px;
  left: 48.04px;
  top: 14.95px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #808191;
}

.inside-b1{
  position: absolute;
  height: 16.30994415283203px;
  width: 44.65523147583008px;
  left: 11%;
  right: -100%;
  top: 50%;
  bottom: 0%;
  background: #353945;
  border-radius: 7.15472px;
}

.inside-b1 img{
  position: absolute;
  height: 9px;
  width: 9px;
  left: 10.61%;
  right: 69%;
  top: 22.71%;
  bottom: 21.46%;
  border-radius: 50%;
}

.inside-b1 strong{
  height: 12px;
  width: 23px;
  position: absolute;
  left: 38.41%;
  right: 10.08%;
  top: 14.72%;
  bottom: 11.7%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 7.80515px;
  line-height: 11px;
  color: #FFFFFF;  
}

.b2 strong{
  position: absolute;
  width: 84.37px;
  height: 24px;
  left: 170.05px;
  top: 9.2px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
.b2 h4{
  position: absolute;
  width: 51.84px;
  height: 24px;
  left: 185.31px;
  top: 10.2px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #808191;
}

.b3 strong{
  position: absolute;
  width: 113.85px;
  height: 24px;
  left: 319.17px;
  top: 20.08px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.b4 strong{
  position: absolute;
  width: 75.22px;
  height: 24px;
  left: 525.44px;
  top: 17.02px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.b4 h4{
  position: absolute;
  width: 107.75px;
  height: 16px;
  left: 509.63px;
  top: 21.2px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #808191;
}
.b4 img{
  position: absolute;
  width: 8px;
  left: 92.42%;
  right: 33.93%;
  top: 61.95%;
  bottom: 4.19%;
}

/* RIGHT AREA */
.rightbox{
  height: 760px;
  width: 500px;
  left: 943px;
  top: 36px;
  border-radius: 0px;
  position: absolute;
  bottom: 2.37%;
  background: #000000;  
}

/* RIGHT TOP */
/* TOP 1 */
.top1{
  position: absolute;
  height: 49.26px;
  width: 192.679px;
  left: 9%;
  right: -100%;
  top: 3%;
  bottom: 0%;
  background: #353945;
  border-radius: 10px;
}
.top1 .ava-img{
  position: absolute;
  width: 28px;
  left: 5.65%;
  right: 80.72%;
  top: 18.6%;
  bottom: 22.41%;
  border-radius: 50%;
}
.top1 h3{
  position: absolute;
  left: 25.65%;
  right: 21.4%;
  top: -22.23%;
  bottom: 13.29%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21.0211px;
  line-height: 29px;
  color: #FFFFFF;
}
.top1 .dropdown-img{
  position: absolute;
  width: 14.61px;
  height: 16.89px;
  left: 82.65%;
  right: 21.4%;
  top: 34.77%;
  bottom: 13.29%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 15.0211px;
  line-height: 29px;
  color: #FFFFFF;
}

/* TOP 2 */
.top2{
  position: absolute;
  height: 45.26px;
  width: 208.679px;
  left: 51%;
  right: -100%;
  top: 3%;
  border-radius: 11px;
  border: 1.25176px solid #3772FF;
}

.top2 .wallet-img{
  position: absolute;
  width: 26.16px;
  height: 27.15px;
  left: 9.53%;
  right: 79.86%;
  top: 17.42%;
  bottom: 26.77%;
}

.top2 h3{
  position: absolute;
  left: 27.51%;
  right: 23.07%;
  top: -14.15%;
  bottom: 7.64%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.315952px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.top2 .dropdown-img{
  position: absolute;
  width: 14.61px;
  height: 16.89px;
  left: 82.65%;
  right: 21.4%;
  top: 27.77%;
  bottom: 13.29%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 15.0211px;
  line-height: 29px;
  color: #FFFFFF;
}

/* TOP 3 */
.top3 img{
  position: absolute;
  height: 22px;
  width: 24px;
  left: 11%;
  right: 0%;
  top: 14.66%;
}

.top3 h3{
  position: absolute;
  height: 24px;
  left: 19.25%;
  right: 16.67%;
  top: 12%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);
}

.top3 h4{
  position: absolute;
  width: 460px;
  height: 25px;
  left: 52.03px;
  top: 162.21px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 0px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.input-text input{
  position: absolute;
  left: 47px;
  top: 235px;
  width: 374.93px;
  height: 58.63px;
  background-color: #242731;
  color: #9697a3;
  border: 0px;
  font-size: 12pt;
  padding: 5px;
  padding-left: 32px;
  border-radius: 12px;
}


.custom-link{
  position: absolute;
  height: 40px;
  width: 158.53px;
  left: 16%;
  right: 0%;
  top: 45%;
  bottom: 0%;
  background: #3772FF;
  border-radius: 10px;
}

.custom-link img{
  position: absolute;
  height: 25px;
  width: 27px;
  border-radius: 0px;
  left: 12.54%;
  right: 75.64%;
  top: 16.26%;
  bottom: 28.26%;
  mix-blend-mode: normal;
}

.custom-link strong{
  position: absolute;
  left: 28.92%;
  right: 13.55%;
  top: 21.4%;
  bottom: 17.4%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.custom-link strong:hover{
  color: #b5bbc9;
}

.cancel-box{
  position: absolute;
  height: 38px;
  width: 141px;
  left: 254px;
  top: 341px;
  right: 0px;
  bottom: 0px;
  border: 1px solid #292b32;
  border-radius: 12px;
}

.cancel-box img{
  position: absolute;
  left: 16%;
  right: 0%;
  top: 29%;
  bottom: 0%;
  height: 31px;
  width: 22px;
  border-radius: 0px;
}

.cancel-box strong{
  position: absolute;
  height: 24px;
  left: 7.33%;
  right: 0%;
  top: 23%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}